body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

table {
  width: 80%;
  border-collapse: collapse;
  border: 2px solid black;
  margin-top: 20px;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

#uploadForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#uploadForm label,
#uploadForm input,
#uploadForm button {
  margin: 10px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.form-group label {
  margin-right: 10px;
}

#uploadBtn,
#stopBtn {
  margin: 20px 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
}

#stopBtn {
  background-color: #f44336;
}

#videoFrames {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#stableFrames {
  width: 95%;
  object-fit: cover;
}
