<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Introductions - Forest Fire Management Research</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

</head>
<body>
    <header>
        <h1>Team Introductions</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="http://137.229.25.190:8000">Classifier</a></li>
                <li><a href="/upload">Wildfire</a></li>
                <li><a href="/models">Model</a></li>
                <li><a href="/team">Team</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="team-member">
                    <img src="../static/images/vikas.jpg" alt="Vikas G. Rajpurohit">
                    <h3>Vikas G. Rajpurohit</h3>
                    <h4>Pursuing Computer Science and Engineering</h4>
                    <h4>Sardar Patel Institute of Technology</h4>
                    <h4>Open-Source Contributor</h4>
                    <p>Vikas Rajpurohit is a final-year Computer Science student at SPIT with expertise in data preprocessing, 
                        training custom models, and full-stack software development. He enjoys tackling real-world problems 
                        through machine-learning solutions and has a strong foundation in collaborating with teams to build 
                        effective and innovative solutions.</p>
                </div>
            </div>

            <div class="column">
                <div class="team-member">
                    <img src="../static/images/Photo2.jpg" alt="Debjit Konar">
                    <h3>Debjit Konar</h3>
                    <h4>Highest degree (or pursuing), major, university</h4>
                    <h4>Current position</h4>
                    <p>Short bio of Debjit.</p>
                </div>
            </div>
            
            <div class="column">
                <div class="team-member">
                    <img src="../static/images/Yali.png" alt="Yali Wang">
                    <h3>Yali Wang</h3>
                    <h4>Pursuing Ph.D. Degree in INDS Study of </h4>
                    <h4>Computer Science, Aerospace Engineering, and Geosciences</h4>
                    <h4>University of Alaska Fairbanks</h4>
                    <h4>Research Assistant</h4>
                    <p>Yali Wang received a bachelor's degree and a master's degree in Computer Science from UAF.
                        She is committed to exploring the application of machine learning models mounted on drones for actual forest fire detection and development trend analysis.
                        Her research focuses on machine learning and UAV technology and application.</p>
                </div>
            </div>
            <div class="column">
                <div class="team-member">
                    <img src="../static/images/photo4.jpg" alt="Arghya Kusum Das">
                    <h3>Arghya Kusum Das</h3>
                    <h4>Highest degree (or pursuing), major, university</h4>
                    <h4>Current position</h4>
                    <p>Short bio of Arghya.</p>
                </div>
            </div>
        </div>
        
        
    </div>
    <footer>
        <p>&copy; 2024 Forest Fire Management Research. All rights reserved.</p>
    </footer>
</body>
</html>
