<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest Fire Tracking</title>
    
</head>
<body>
    <h1>Upload a video for processing</h1>
    <h3>Notice: The backend might take some time to process the video. Thanks for your patience. </h3>
    <form onsubmit="handleForm(event)" enctype="multipart/form-data">
        <input type="file" name="video" required>
        <button type="submit">Upload and Process</button>
    </form>
    <div id="links"></div>
    <script>
        function handleForm(event) {
            event.preventDefault();
            var formData = new FormData();
            formData.append('video', document.querySelector('input[type="file"]').files[0]);
            console.log(formData); // DEBUG
            for(var pair of formData.entries()) {
                console.log(pair[0]+ ', ' + pair[1]); 
            }

            const baseUrl = window.location.origin;

            fetch(`${baseUrl}/upload`, {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                console.log("Received data:", data);  // Log for debugging... 
                document.getElementById('links').innerHTML = `
                    <h3>Choose a Video to View:</h3>
                    <video id="videoPlayer1" controls width="500">
                        Sorry, your browser does not support embedded videos.
                    </video>
                    <button onclick="showVideo('original', '${data.filename}', 'videoPlayer1')">Original Fire Video</button>
                    <br><br>
                    

                    <br><br><br>
                    <video id="videoPlayer2" controls width="500">
                        Sorry, your browser does not support embedded videos.
                    </video>
                    <button onclick="showVideo('yolov8', '${data.filename}', 'videoPlayer2')">YOLOv8 Fire Tracking Video</button>
                    <p>YOLOv8 model takes about one minute to show the video. </p>
                    <br><br><br>
                    

                    <br><br><br>
                    <video id="videoPlayer3" controls width="500">
                        Sorry, your browser does not support embedded videos.
                    </video>
                    <button onclick="showVideo('yolov5', '${data.filename}', 'videoPlayer3')">YOLOv5 Fire Motion Video</button>
                    <br><br>
                    
                `;
            })
            .catch(error => console.error('Error:', error));
        }

        function showVideo(type, filename, playerId) {
            var videoPlayer = document.getElementById(playerId);
            if (videoPlayer) {
                const baseUrl = window.location.origin;
                var url = type === 'original' ? `${baseUrl}/videos/${filename}` : `${baseUrl}/process_${type}/${filename}`;
                videoPlayer.src = url;
                videoPlayer.load();
                videoPlayer.play();
            } else {
                console.error('Video player element not found');
            }
        }

    </script>
</body>
</html>
